@{
    ViewBag.Title = "Ignored";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="body">
    <div id="pending_shortages_headers">
        <span id="feed">
            <a href="/PendingShortagesList/">ASHP Feed</a>
        </span>
        |
        <span id="ignore">
            <a href="/PendingShortagesList/Ignored" >Ignored Notifications</a>
        </span>
    </div>
    <div id="loadingAnimation">
        <img src="~/MedicationsShMedicationsShortagesDashboard/Images/loading.gif">
    </div>
    <div id="ignored_pending_shortages_container">
        <div id="no_ignored_pending_shortages_message">You have not ignored any notifications.</div>
        <ul id="ignored_pending_shortages"></ul>
    </div>
</div>

 @section scripts{
<script type="text/javascript">
    var ignoredIDs = new Array();
    var loggedInAs = '@Html.Encode(ViewData["Username"])';
    
    // IE8 does not support Array.indexOf, so define it if it doesn't exist.
    if (!Array.prototype.indexOf) {
        MedicationsSh
        Array.prototype.indexOf = function (elt /*, from*/) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                 ? Math.ceil(from)
                 : Math.floor(from);
            if (from < 0)
                from += len;

            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }

     // Only show the loading animation until all the JSON has been processed.
    $("#loadingAnimation").show();
    $("#ignored_pending_shortages_warning").hide()

    $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "IgnoredPendingShortage", })' + '/' + loggedInAs, function (ignoredPendingShortagesJsonPayload) {
        $(ignoredPendingShortagesJsonPayload).each(function (i, item) {
            ignoredIDs.push(item.Id);
            $("#ignored_pending_shortages").append("<li id=ignored_ps_" + item.Id + "><a href='javascript:void(0)' onclick='unIgnore(\"" + loggedInAs + "\", \"" + item.Id + "\", \"" + item.DrugName+ "\")'>" +
                "<img src='/MedicationsShMedicationsShortagesDashboard/Images/remove.png' /> </a>" +
                "<span class='ignored_pending_shortage'>" + item.DrugName + "</span></li>");
        });

        $("#loadingAnimation").hide();

        // Displays a message to the user notifying them that they have not ignored anything.
        displayNoIgnoredPendingShortagesMessage();

        $('#ignored_pending_shortages_container').show();
    });

    function unIgnore(username, id, drugName) {
        var r = confirm("Do you really want to remove " + drugName + " from your ignore list?");
        if (r == true) {
            $.ajax({
                url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "IgnoredPendingShortage", })' + '/' + username + "/" + id,
                type: 'DELETE',
                success: function () {
                    $("#ignored_ps_" + id).hide();
                    ignoredIDs.splice(ignoredIDs.indexOf(id), 1);

                    displayNoIgnoredPendingShortagesMessage();
                }
            });
        }

        return false;
    }

    function displayNoIgnoredPendingShortagesMessage() {
        // Displays a message to the user notifying them that they have not ignored anything.
        if (ignoredIDs.length == 0) {
            $("#no_ignored_pending_shortages_message").show()
        } else {
            $("#no_ignored_pending_shortages_message").hide()
        }
    }
</script>
}