@{
    ViewBag.Title = "ASHP Feed";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<div id="body">
    <div id="pending_shortages_headers">
        <span id="feed">
            <a href="/PendingShortagesList/">ASHP Feed</a>
        </span>
        |
        <span id="ignore">
            <a href="/PendingShortagesList/Ignored" >Ignored Notifications</a>
        </span>
    </div>
    <div id="loadingAnimation">
        <img src="~/Images/loading.gif">
    </div>
    <div id="pending_shortages_container">
        <ul id="pending_shortages"></ul>
    </div>
    <div id="create_shortage" title="Create Shortage">
        <form id="create_shortage_form">
            <p><span class='formErrorNotification' id="ndcError">*</span>NDC: <input id="ndc" type="text" name="ndc" /> <span class='formErrorNotification' id="ndcNotFoundError">NDC not found.</span></p>
            <span class='formErrorNotification' id="statusError">*</span>Status:
            <p><span class="create_shortage_good_label"><input id="good" name="status" value="good" type="radio" onclick="javascript: statusCheck();" /> Good </span></p>
            <p><span class="create_shortage_warning_label"><input id="warning" name="status" value="warning" type="radio" onclick="javascript: statusCheck();" /> Warning </span></p>
            <p><span class="create_shortage_severe_label"><input id="severe" name="status" type="radio" value="severe" onclick="javascript: statusCheck();" /> Severe </span></p>
            <div id="additionalInfo">
                <p><span class='formErrorNotification' id="sevenDaySupplyError">*</span>Seven day supply (250 character limit):</p>
                <p><textarea class="createShortageTextArea" id="sevenDaySupply" name="sevenDaySupply" rows="5" cols="50" ></textarea></p>
                <p><span class='formErrorNotification' id="sevenDayUsageError">*</span>Seven day usage (250 character limit):</p>
                <p><textarea class="createShortageTextArea" id="sevenDayUsage" name="sevenDayUsage" rows="5" cols="50" ></textarea></p>
                <p><span class='formErrorNotification' id="mitigationActionsError">*</span>Migitation Actions (5000 character limit):</p>
                <p><textarea class="createShortageTextArea" id="mitigationActions" name="mitigationActions" rows="5" cols="50" ></textarea></p>
                <p><span class='formErrorNotification' id="backorderInformationError">*</span>Backorder Information (5000 character limit):</p>
                <p><textarea class="createShortageTextArea" id="backorderInformation" name="backorderInformation" rows="5" cols="50" ></textarea></p>
                <p><span class='formErrorNotification' id="greyMarketVendorError">*</span>Grey Market Vendor: <input id="greyMarketVendor" type="text" name="greyMarketVendor" /></p>
                <p><span class='formErrorNotification' id="expectedResolutionDateError">*</span>Expected Resolution Date: <input readonly="readonly" id="expectedResolutionDate" type="text" name="expectedResolutionDate" /></p>
            </div>
            <p><button id="submit" type="button">Create Shortage</button></p>
        </form>
        <div id="submitSuccessNotification" class="formSuccessNotification">Shortage successfully created.</div>
        <div id="invalidFormNotification" class="formErrorNotification">Please fill in all fields marked with *</div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $("#expectedResolutionDate").datepicker({ minDate: 0, dateFormat: "m/d/yy" });
    var alreadyParsedDrugIds = new Array();
    var ignoredIDs = new Array();
    var validNDCs = new Array();
    var loggedInAs = '@Html.Encode(ViewData["Username"])';
    
    // IE8 does not support Array.indexOf, so define it if it doesn't exist.
    if (!Array.prototype.indexOf) {
        Array.prototype.indexOf = function (elt /*, from*/) {
            var len = this.length >>> 0;

            var from = Number(arguments[1]) || 0;
            from = (from < 0)
                 ? Math.ceil(from)
                 : Math.floor(from);
            if (from < 0)
                from += len;

            for (; from < len; from++) {
                if (from in this &&
                    this[from] === elt)
                    return from;
            }
            return -1;
        };
    }

    // Show only the loading animation
    $("#loadingAnimation").show();

    $.getJSON('/api/IgnoredPendingShortage/' + loggedInAs, function (ignoredPendingShortagesJsonPayload) {
        $(ignoredPendingShortagesJsonPayload).each(function (i, item) {
            ignoredIDs.push(item.Id);
        });

        $.getJSON('/api/PendingShortage', function (pendingShortagesJsonPayload) {
            $(pendingShortagesJsonPayload).each(function (i, item) {
                // Only process items which are not ignored.
                if (ignoredIDs.indexOf(item.Id) == -1) {
                    // ID from the ASHP website, which is at the end of the source URL
                    sourceUrl = "http://www.ashp.org/DrugShortages/Current/Bulletin.aspx?Source=Current&Type=Rss&Id=" + item.Id
                    $('#pending_shortages').append("<li id='ps_" + item.Id + "' class=pending_shortage><span class=pending_shortage_title onClick='showPreview(\"" + sourceUrl + '", "' + item.Id + '", "' + item.DrugName + "\")'>" + item.DrugName +
                        "<span class=pending_shortage_expand_icon id=expand_" + item.Id + ">+</span></span><br><span class='preview' id=" + item.Id + "></span></li>");

                    $('#' + item.Id).prepend('<div id="loadingAnimation"><img src="/Images/loading.gif" height="40" width="40"></div>');
                    $("#" + item.Id).hide();
                }
            });

            $.getJSON('/api/DrugEntry', function (drugJsonPayload) {
                $(drugJsonPayload).each(function (i, item) {
                    validNDCs.push(item.NDC);
                });

                $("#loadingAnimation").hide();
                $('#pending_shortages_container').show();
            });
        });
    });

function statusCheck() {
    if (document.getElementById('warning').checked || document.getElementById('severe').checked) {
        document.getElementById('additionalInfo').style.display = 'block';
    } else {
        document.getElementById('additionalInfo').style.display = 'none';
    }
}

    // Scrapes the HTML from the source URL of the pending shortage, appends
    // the reasons for the shortage to a div.
    /*** Right now this is hardcoded to be the bottom of the page, should obviously be changed. ***/
function scrapeHtml(url, id, drugName) {
    if (url.match('^http')) {
        // Use YML to bypass cross domain issues.
        $.getJSON("http://query.yahooapis.com/v1/public/yql?" +
                  "q=select%20*%20from%20html%20where%20url%3D%22" +
                  encodeURIComponent(url) +
                  "%22&format=xml'&callback=?",
          function (data) {
              if (data.results[0]) {
                  var data = filterData(data.results[0]);
                  var preview = ""
                  var NDCs = new Array();

                  // Get the affected products
                  affectedProducts = data.split("Products Affected - Description")[1];
                  affectedProducts = affectedProducts.split("<!-- End Products Affected  -->")[0];

                  var indexOfNdc = affectedProducts.indexOf("NDC ");

                  while (indexOfNdc != -1) {
                      // + 4 because of the length of 'NDC '
                      // length of 13 because an NDC contains 10 numbers and two -'s
                      NDCs.push(affectedProducts.substr(indexOfNdc + 4, 13));

                      indexOfNdc = affectedProducts.indexOf("NDC ", indexOfNdc + 4);
                  }
                  
                  preview = "<p><b>Products Affected</b>" + affectedProducts + "</p>"
                  // Get the reasons for the shortage
                  reasons = data.split('Reason for the Shortage')[2];
                  reasons = reasons.split('<!-- End Reason for the Shortage -->')[0];
                  preview = preview + "<p><b>Reason for the Shortage</b>" + reasons + "</p>";

                  $("#" + id).children('#loadingAnimation').hide();
                  $("#" + id).prepend(preview);
                  $("#" + id).append("<p><a href=" + url + "> View Full Report </a></p>")
                  $("#" + id).append("<div style<p><button onClick=\"showCreateShortage('" + NDCs + "')\"> Create Shortage </button><span style='float:right'>" +
                      "<button onClick='ignore(\"" + id + "\", \"" + loggedInAs + "\", \"" + drugName + "\")'> Ignore </button></span></p>");
              }
          }
        );
    }
};

function filterData(data) {
    data = data.replace(/<?\/body[^>]*>/g, '');
    data = data.replace(/[\r|\n]+/g, '');
    data = data.replace(/<--[\S\s]*?-->/g, '');
    data = data.replace(/<noscript[^>]*>[\S\s]*?<\/noscript>/g, '');
    data = data.replace(/<script[^>]*>[\S\s]*?<\/script>/g, '');
    data = data.replace(/<script.*\/>/, '');
    return data;
}

// Provides accordion-like behavior by showing the div
// underneath each link when it is clicked.
function showPreview(url, id, drugName) {

    // Set the +/- symbol
    expand_symbol = $('#expand_' + id).text()

    if (expand_symbol == '+') {
        $('#expand_' + id).html("–");
    } else {
        $('#expand_' + id).html("+");
    }

    // If the drug has not had its ASHP page parsed yet, get that content
    if (alreadyParsedDrugIds.indexOf(id) == -1) {
        scrapeHtml(url, id, drugName);
        alreadyParsedDrugIds.push(id);
    }

    $("#" + id).slideToggle("slow");
}

// Toggles the create shortage form. Populates the NDC field with ndc
function showCreateShortage(NDCs) {
    NDCs = NDCs.split(","); // Kludge. Why is it being passed in as a string?!
    $('#create_shortage').find('form')[0].reset();
    $("#create_shortage").dialog({ width: 550 }).css("maxHeight", 600);;
    
    NDCs.sort();
    $("#ndc").autocomplete({
        source: NDCs
    });
}

$('#submit').click(function (e) {
    $('#invalidFormNotification').hide();
    if (validateForm()) {
        var submitData = $('#create_shortage_form').serialize();
        if (submitData.indexOf("&status=good") != -1) {
            submitData = submitData.split('&sevenDaySupply=')[0];
        }
        $.post('/api/Shortage', submitData)
            .success(function () {
                $('#create_shortage').find('form')[0].reset();
                $("#submitSuccessNotification").show()
            });
        e.preventDefault();
    } else {
        $('#invalidFormNotification').show();
    }
});

function ignore(id, username, drugName) {
    $.post('/api/IgnoredPendingShortage', "username=" + username + "&id=" + id + "&drugName=" + drugName)
    .success(function() {
        $("#ps_" + id).hide();
    });

    return false;
}

// Determines if a string is empty or only contains whitespace
function isBlank(str) {
    return (!str || /^\s*$/.test(str));
}

function validateForm() {
    var validForm = true;
    $('#ndcError').hide(); // Hide this one right away since we're checking two slightly different conditions

    if (isBlank($('#ndc').val())) {
        // User did not enter an NDC
        $('#ndcError').show();
        $("#ndcNotFoundError").hide();
        validForm = false;
    }
    else if (validNDCs.indexOf($('#ndc').val().trim()) == -1) {
        console.log('her');
        // NDC was not found in the database
        $('#ndcError').show();
        $("#ndcNotFoundError").show();
        validForm = false;
    }

    // Ensure user selected a status
    if (!document.getElementById('good').checked && !document.getElementById('warning').checked && !document.getElementById('severe').checked) {
        $('#statusError').show()
        validForm = false;
    } else {
        $('#statusError').hide()
    }

    // If the user selected warning or severe, make sure they filled in all that information
    if (!document.getElementById('good').checked) {
        var selectors = ['sevenDaySupply', 'sevenDayUsage', 'mitigationActions', 'backorderInformation', 'greyMarketVendor', 'expectedResolutionDate']

        selectors.forEach(function (selector) {
            if (isBlank($('#' + selector).val())) {
                $('#' + selector + 'Error').show();
                validForm = false;
            } else {
                $('#' + selector + 'Error').hide();
            }
        });
    }

    return validForm;
}
</script>
}