@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="body">
    <ul id="pending_shortages"></ul>

    <div id="create_shortage">
        <span id="create_shortage_popup_title">Create Shortage</span>
        <form>
            <p>NDC: <input id="ndc" type="text" name="ndc"></p>
            <p>@Html.RadioButton("Status", "good", false) Good </p>
            <p>@Html.RadioButton("Status", "warning", false) Warning </p>
            <p>@Html.RadioButton("Status", "severe", false) Severe </p>
            <p><button type="button">Create Shortage</button></p>
        </form>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $("#create_shortage").hide();
    var alreadyParsedDrugIds = new Array();
$(function ()
{
        $.getJSON('/api/PendingShortage', function(pendingShortagesJsonPayload)
        {
            $(pendingShortagesJsonPayload).each(function(i, item)
            {
                // ID from the ASHP website, which is at the end of the source URL
                var id = item.SourceURL.split("Id=")[1];
                $('#pending_shortages').append("<li><a href='javascript:void(0);' onClick='showPreview(\"" + item.SourceURL + '", "' + id + "\")'> " + item.DrugName + " </a><br><span class='preview' id=" + id + "></span></li>");
                $('#' + id).prepend('<div id="loadingAnimation"><img src="/Images/loading.gif" height="40" width="40"></div>');
                $("#" + id).hide();
            });
        });
});

    // Scrapes the HTML from the source URL of the pending shortage, appends
    // the reasons for the shortage to a div.
    /*** Right now this is hardcoded to be the bottom of the page, should obviously be changed. ***/
function scrapeHtml(url, id) {
    if (url.match('^http')) {
        // Use YML to bypass cross domain issues.
        $.getJSON("http://query.yahooapis.com/v1/public/yql?" +
                  "q=select%20*%20from%20html%20where%20url%3D%22" +
                  encodeURIComponent(url) +
                  "%22&format=xml'&callback=?",
          function (data) {
              if (data.results[0]) {
                  var data = filterData(data.results[0]);
                  var preview = ""
                  var firstNdc = "";

                  // Get the affected products
                  affectedProducts = data.split("Products Affected - Description")[1];
                  affectedProducts = affectedProducts.split("<!-- End Products Affected  -->")[0];

                  /* Try to find the NDC of the first drug in Products Affected.
                   * Note: Some shortages affect a lot of drugs. Others only affect one or two.
                   * Not all shortages show the NDC... But if it's there, it'd be nice to populate the form.
                   */
                  var indexOfFirstNdc = affectedProducts.indexOf("NDC ");

                  if (indexOfFirstNdc != -1) {
                      // + 4 because of the length of 'NDC '
                      // length of 13 because an NDC contains 10 numbers and two -'s
                      firstNdc = affectedProducts.substr(indexOfFirstNdc + 4, 13);
                  }

                  preview = "<p><b>Products Affected</b>" + affectedProducts + "</p>"
                  // Get the reasons for the shortage
                  reasons = data.split('Reason for the Shortage')[2];
                  reasons = reasons.split('<!-- End Reason for the Shortage -->')[0];
                  preview = preview + "<p><b>Reason for the Shortage</b>" + reasons + "</p>";

                  $("#" + id).children('#loadingAnimation').hide();
                  $("#" + id).prepend(preview);
                  $("#" + id).append("<p><a href=" + url + "> View Full Report </a><a href=\"javascript:void(0);\" onClick=\"toggleCreateShortage('" + firstNdc + "')\"> Create Shortage </a></p>")
              }
          }
        );
    }
};

function filterData(data) {
    data = data.replace(/<?\/body[^>]*>/g, '');
    data = data.replace(/[\r|\n]+/g, '');
    data = data.replace(/<--[\S\s]*?-->/g, '');
    data = data.replace(/<noscript[^>]*>[\S\s]*?<\/noscript>/g, '');
    data = data.replace(/<script[^>]*>[\S\s]*?<\/script>/g, '');
    data = data.replace(/<script.*\/>/, '');
    return data;
}

// Provides accordion-like behavior by showing the div
// underneath each link when it is clicked.
function showPreview(url, id) {
    if (alreadyParsedDrugIds.indexOf(id) == -1) {
        scrapeHtml(url, id);
        alreadyParsedDrugIds.push(id);
    }

    $("#" + id).slideToggle("slow");
}

function toggleCreateShortage(ndc) {
    $('#create_shortage').find('form')[0].reset();
    $("#create_shortage").toggle();
    $('#ndc').val(ndc);
}
</script>
}