@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <ul id="users"></ul>
    <form id="loginForm" method="post">
        <p>
            Username: <input type="text" name="Username" />
        </p>
        <p>
            Password: <input type="password" name="Password" />
        </p>
        <input type="button" id="login" value="Login" />
    </form>
</div>

@section scripts{
<script type="text/javascript">
    function auth() {
        $.post("api/loginapi",
            $("#loginForm").serialize(),
            function (value) {
                $('#users').append('<li>' + 'Hello, ' + value.Username + '. You are a ' + value.Type + '</li>');
            },
            "json"
        );
    }
    $('#login').click(auth);
    $(auth);
</script>
}