@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <span id="loginError" style="color:red; font-size:90px;">PAGE NOT FOUND</span><br />
    <a href="~/DrugEntriesList" class="button">Home</a>
</div>

@section scripts{
<script type="text/javascript">
</script>
}