@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <p>
        <select id="shortages">
        </select>
    </p>
    <button id="confirm" onclick="Confirm()">Confirm</button>
</div>

@section scripts{
<script type="text/javascript">
    $(function () {
        $.getJSON('/api/Shortage', function (shortagesJsonPayload) {
            $(shortagesJsonPayload).each(function (i, item) {
                $('#shortages').append('<option value="' + item.Id + '">' + item.DrugId + " " + item.DateTime + " " + item.Status + "</option>");
            });
        });
    });

function Confirm() {
    var id = $('#shortages').val();
    $.ajax({
        url: '/api/Shortage' + '/' + id,
        type: 'DELETE',
    });
}
</script>
}