@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <ul id="shortages"></ul>
</div>

@section scripts{
<script type="text/javascript">
$(function()
{
        $.getJSON('/api/Shortage', function(shortagesJsonPayload)
        {
            $(shortagesJsonPayload).each(function(i, item)
            {
                $('#shortages').append('<li>' + item.Id + " " + item.DrugId + " " + item.DateTime + " " + item.Status + ' <a href="/ShortagesList/Edit/' + item.Id + '"> Edit </a> <a onclick="DeleteConfirm(' + item.Id + ')" href="#"> Delete </a></li>');
                $('#shortages').append('<div id="shortage' + item.Id + '"></div>')
            });
        });
});

function DeleteConfirm(id) {
    var result = confirm("Press a button");
    if (result == true) {
        Delete(id);
    }
}

function Delete(id) {
    $.ajax({
        url: '/api/Shortage' + '/' + id,
        type: 'DELETE',
    });
}
</script>
}