@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="body">
    <div id="menu">
        <ul>
            <li class="leftMost">
                <div class="button">Home</div>
            </li>
            <li class="left">
                <div class="button">Home</div>
            </li>
            <li class="rightMost">
                <div class="button">Home</div>
            </li>
            <li class="right">
                <div class="menuText">Welcome, User</div>
            </li>
        </ul>
    </div>
    <br />
    <div id="listContainer" >
        <div id="severeContainer" class="container">
            <span>Severe</span>
            <ul id="severeList" class="shortageList">
            </ul>
        </div>
        <div id="warningContainer" class="container">
            <span>Warning</span>
            <ul id="warningList" class="shortageList">
            </ul>
        </div>
        <div id="goodContainer" class="container">
            <span>Good</span>
            <ul id="goodList" class="shortageList">
            </ul>
        </div>
        <div id="recentContainer" class="container">
            <span>Recent</span>
            <ul id="recentList" class="shortageList">
            </ul>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
$(function()
{
        $.getJSON('/api/Shortage', function(shortagesJsonPayload)
        {
            $(shortagesJsonPayload).each(function(i, item)
            {

                if (item.Status === "severe") {
                    $('#severeList').append('<li>' + item.Id + " " + item.DrugId + " " + item.DateTime);
                }
                else if (item.Status === "warning") {
                    $('#warningList').append('<li>' + item.Id + " " + item.DrugId + " " + item.DateTime);
                }
                else if (item.Status === "good") {
                        $('#goodList').append('<li>' + item.Id + " " + item.DrugId + " " + item.DateTime);
                }
            });
        });
});
</script>
}