@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="listContainer" >
        <div id="severeContainer" class="container">
            <span class="secondaryTitle">Severe</span>
            <ul id="severeList" class="shortageList">
            </ul>
        </div>
        <div id="warningContainer" class="container">
            <span class="secondaryTitle">Warning</span>
            <ul id="warningList" class="shortageList">
            </ul>
        </div>
        <div id="goodContainer" class="container">
            <span class="secondaryTitle">Good</span>
            <ul id="goodList" class="shortageList">
            </ul>
        </div>
        <div id="recentContainer" class="container">
            <span class="secondaryTitle">Recent</span>
            <ul id="recentList" class="shortageList">
            </ul>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
$(function()
{
        $.getJSON('/api/Shortage', function(shortagesJsonPayload)
        {
            $(shortagesJsonPayload).each(function(i, item)
            {
                if (item.Status === "severe") {
                    $('#severeList').append('<div id="shortage' + item.Id + '"><li>' + item.Id + " " + item.DrugId + " " + item.DateTime + " " + item.Status + ' <a href="/ShortagesList/Edit/' + item.Id + '"> Edit </a> <a onclick="DeleteConfirm(' + item.Id + ')" href="#"> Delete </a></li></div>');
                }
                else if (item.Status === "warning") {
                    $('#warningList').append('<div id="shortage' + item.Id + '"><li>' + item.Id + " " + item.DrugId + " " + item.DateTime + " " + item.Status + ' <a href="/ShortagesList/Edit/' + item.Id + '"> Edit </a> <a onclick="DeleteConfirm(' + item.Id + ')" href="#"> Delete </a></li></div>');
                }
                else if (item.Status === "good") {
                    $('#goodList').append('<div id="shortage' + item.Id + '"><li>' + item.Id + " " + item.DrugId + " " + item.DateTime + " " + item.Status + ' <a href="/ShortagesList/Edit/' + item.Id + '"> Edit </a> <a onclick="DeleteConfirm(' + item.Id + ')" href="#"> Delete </a></li></div>');
                }
            });
        });
});

function DeleteConfirm(id) {
    var result = confirm("Do you really want to delete this shortage?");
    if (result == true) {
        Delete(id);
    }
}

function Delete(id) {
    $.ajax({
        url: '/api/Shortage' + '/' + id,
        type: 'DELETE',
        success: function () {
            $('#shortage' + id).remove();
        },
    });
}
</script>
}