@{
    ViewBag.Title = "Create Drug";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="body">
    <form id="create_drug_form">
        <p><span class='formErrorNotification' id="ndcError">*</span>NDC: <input id="ndc" type="text" name="ndc" /></p>
        <p><span class='formErrorNotification' id="dosageError">*</span>Dosage: <input id="dosage" type="text" name="dosage" /></p>
        Brand Name: <input id="brand" type="text" name="brand" />
        <p><span class='formErrorNotification' id="genericError">*</span>Generic Name: <input id="generic" type="text" name="generic" /></p>
        <p><span class='formErrorNotification' id="descriptionError">*</span>Description: <input id="description" type="text" name="description" /></p>
        <p><button class="submitButton" id="submit" type="button">Create Drug</button></p>
    </form>
    <div id="invalidFormNotification" class="formErrorNotification">Please fill in all fields marked with *</div>
</div>

@section scripts{
<script type="text/javascript">
    $('#submit').click(function (e) {
        $('#invalidFormNotification').hide();
        if (validateForm()) {
            var submitData = $('#create_drug_form').serialize();

            $.post('/api/DrugEntryManual', submitData)
                .success(function () {
                    window.location.href = "/DrugEntriesList/";
                });
            e.preventDefault();
        } else {
            $('#invalidFormNotification').show();
        }
    });

    // Determines if a string is empty or only contains whitespace
    function isBlank(str) {
        return (!str || /^\s*$/.test(str));
    }

    function validateForm() {
        var validForm = true;
        var selectors = ['ndc', 'dosage', 'generic', 'description']

        selectors.forEach(function (selector) {
            if (isBlank($('#' + selector).val())) {
                $('#' + selector + 'Error').show();
                validForm = false;
            } else {
                $('#' + selector + 'Error').hide();
            }
        });
        return validForm;
    }
</script>
    }