@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="listContainer" >
        <div id="severeContainer" class="container">
            <span class="secondaryTitle">Severe</span>
            <ul id="severeList" class="shortageList">
            </ul>
        </div>
        <div id="warningContainer" class="container">
            <span class="secondaryTitle">Warning</span>
            <ul id="warningList" class="shortageList">
            </ul>
        </div>
        <div id="goodContainer" class="container">
            <span class="secondaryTitle">Good</span>
            <ul id="goodList" class="shortageList">
            </ul>
        </div>
        <div id="recentContainer" class="container">
            <span class="secondaryTitle">Recent</span>
            <ul id="recentList" class="shortageList">
            </ul>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
$(function()
{
        $.getJSON('/api/DrugEntry', function(drugJsonPayload)
        {
            $(drugJsonPayload).each(function(i, item)
            {
                if (item.CurrentStatus === "severe") {
                    $('#severeList').append('<p>' + item.Brand + ' ' + item.Dosage + '</p>');
                }
                else if (item.CurrentStatus === "warning") {
                    $('#severeList').append('<p>' + item.Brand + ' ' + item.Dosage + '</p>');
                }
                else {
                    $('#goodList').append('<p>' + item.Brand + ' ' + item.Dosage + '</p>');
                }
            });
        });
});
</script>
}