@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="listContainer" >
        <div id="severeContainer" class="container">
            <span class="secondaryTitle">Severe</span>
            <ul id="severeWatchList" class="shortageList">
            </ul>
            <ul id="severeList" class="shortageList">
            </ul>
        </div>
        <div id="warningContainer" class="container">
            <span class="secondaryTitle">Warning</span>
            <ul id="warningWatchList" class="shortageList">
            </ul>
            <ul id="warningList" class="shortageList">
            </ul>
        </div>
        <div id="goodContainer" class="container">
            <span class="secondaryTitle">Good</span>
            <ul id="goodWatchList" class="shortageList">
            </ul>
            <ul id="goodList" class="shortageList">
            </ul>
        </div>
        <div id="recentContainer" class="container">
            <span class="secondaryTitle">Recent</span>
            <ul id="recentList" class="shortageList">
            </ul>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
$(function()
{
    // Get all watch list items for this user
    $.getJSON('/api/WatchListItem?username=' + '@Html.Encode(ViewData["Username"])', function (watchListJsonPayload) {
        var watchListNdcs = Array();
        $(watchListJsonPayload).each(function(i, watchListItem) {
            watchListNdcs.push(watchListItem.Ndc);
        });

        // Get all drugs
        $.getJSON('/api/DrugEntry', function (drugJsonPayload) {
            console.log(watchListNdcs.toString());
            $(drugJsonPayload).each(function (i, item) {
                if ($.inArray(item.NDC, watchListNdcs) != -1) {
                    shortage = getShortageItemHTMLWatchList(item.Brand, item.Dosage, item.NDC);

                    if (item.CurrentStatus === "severe") {
                        $('#severeWatchList').append(shortage);
                    }
                    else if (item.CurrentStatus === "warning") {
                        $('#warningWatchList').append(shortage);
                    }
                    else {
                        $('#goodWatchList').append(shortage);
                    }
                }
                else {
                    shortage = getShortageItemHTML(item.Brand, item.Dosage, item.NDC);

                    if (item.CurrentStatus === "severe") {
                        $('#severeList').append(shortage);
                    }
                    else if (item.CurrentStatus === "warning") {
                        $('#warningList').append(shortage);
                    }
                    else {
                        $('#goodList').append(shortage);
                    }
                }
            });
        });
    });
});

function getShortageItemHTML(brand, dosage, ndc) {
    return '<li> \
                   <ul class="shortageCard"> \
                       <li class="left"> \
                           <span>' + brand + ' ' + dosage + '</span> \
                       </li> \
                       <li class="right"> \
                           <a href="#" onClick="addToWatchList(' + '\'@Html.Encode(ViewData["Username"])\',\'' + ndc + '\')"> \
                               <img src="/images/not_favorite.png"> \
                           </a> \
                       </li> \
                   </ul> \
                </li>';
};

function getShortageItemHTMLWatchList(brand, dosage, ndc) {
    return '<li> \
                <ul class="shortageCard"> \
                    <li class="left"> \
                        <span>' + brand + ' ' + dosage + '</span> \
                    </li> \
                    <li class="right"> \
                        <a href="#" onClick="removeFromWatchList(' + '\'@Html.Encode(ViewData["Username"])\',\'' + ndc + '\')"> \
                            <img src="/images/favorite.png"> \
                        </a> \
                    </li> \
                </ul> \
            </li>';
};

function addToWatchList(username, ndc) {
    $.post('/api/WatchListItem', { '': username + "&" + ndc })
    .done(function (data) {
        alert("Success");
    });
};

function removeFromWatchList(username, ndc) {
    $.ajax({
        url: '/api/WatchListItem/' + username + "/delete/" + ndc,
        type: 'DELETE',
        success: function () {
            alert("Removed!");
        },
    });
}
</script>
}