@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <div id="loadingAnimation">
        <img src="~/Images/loading.gif">
    </div>
    <div id="listContainer" >
        <div id="severeContainer" class="container">
            <span class="secondaryTitle">Severe</span>
            <ul id="severeWatchList" class="shortageList">
            </ul>
            <ul id="severeList" class="shortageList">
            </ul>
            <a href='#' class="pagingButton"><<</a>
            <a href='#' class="pagingButton"><</a>
            <span class="pageNumber">1</span>
            <a href='#' class="pagingButton">></a>
            <a href='#' class="pagingButton">>></a>
        </div>
        <div id="warningContainer" class="container">
            <span class="secondaryTitle">Warning</span>
            <ul id="warningWatchList" class="shortageList">
            </ul>
            <ul id="warningList" class="shortageList">
            </ul>
            <a href='#' class="pagingButton"><<</a>
            <a href='#' class="pagingButton"><</a>
            <span class="pageNumber">1</span>
            <a href='#' class="pagingButton">></a>
            <a href='#' class="pagingButton">>></a>
        </div>
        <div id="goodContainer" class="container">
            <span class="secondaryTitle">Good</span>
            <ul id="goodWatchList" class="shortageList">
            </ul>
            <ul id="goodList" class="shortageList">
            </ul>
            <a href='#' class="pagingButton"><<</a>
            <a href='#' class="pagingButton"><</a>
            <span class="pageNumber">1</span>
            <a href='#' class="pagingButton">></a>
            <a href='#' class="pagingButton">>></a>
        </div>
        <div id="recentContainer" class="container">
            <span class="secondaryTitle">Recent</span>
            <ul id="recentList" class="shortageList">
            </ul>
            <a href='#' class="pagingButton"><<</a>
            <a href='#' class="pagingButton"><</a>
            <span class="pageNumber">1</span>
            <a href='#' class="pagingButton">></a>
            <a href='#' class="pagingButton">>></a>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $('#listContainer').hide();
    var loggedInAs = '@Html.Encode(ViewData["Username"])';

    var numRecentItems = 10;
    var itemsPerPage = 5;

    var recentItems = [];
    var goodItems = [];
    var warningItems = [];
    var severeItems = [];
    var watchListNdcs = [];

    function displayList(list, appendTarget) {
        for (var i = 0; i < list.length && i < itemsPerPage; i++) {
            var item = list[i];
            var shortage;
            if ($.inArray(item.NDC, watchListNdcs) != -1) {
                shortage = getShortageItemHTMLWatchList(item.Brand, item.Dosage, item.NDC, item.CurrentStatus);
                $(shortage).appendTo('#' + appendTarget + 'WatchList').addClass(appendTarget + "Item");
            }
            else {
                shortage = getShortageItemHTML(item.Brand, item.Dosage, item.NDC, item.CurrentStatus);
                $(shortage).appendTo('#' + appendTarget + 'List').addClass(appendTarget + "Item");
            }
        }
    }

    function display() {
        // This drug is in the user's watch list

        displayList(goodItems, 'good');
        displayList(warningItems, 'warning');
        displayList(severeItems, 'severe');

        for (var i = 0; i < recentItems.length && i < itemsPerPage; i++) {
            var item = recentItems[i];
            var shortage;

            if ($.inArray(item.NDC, watchListNdcs) != -1) {
                shortage = getShortageItemHTMLWatchList(item.Brand, item.Dosage, item.NDC, item.CurrentStatus);
            }
            else {
                shortage = getShortageItemHTML(item.Brand, item.Dosage, item.NDC, item.CurrentStatus);
            }

            if (item.CurrentStatus === "severe") {
                $(shortage).appendTo('#recentList').addClass("severeItem");
            }
            else if (item.CurrentStatus === "warning") {
                $(shortage).appendTo('#recentList').addClass("warningItem");
            }
            else {
                $(shortage).appendTo('#recentList').addClass("goodItem");
            }
        }
    }

    $(document).ready(function()
    {
        $.getJSON('/api/WatchListItem/' + loggedInAs, function (watchListJsonPayload) {
            $(watchListJsonPayload).each(function(i, watchListItem) {
                watchListNdcs.push(watchListItem.Ndc);
            });

            var recentTemp = new Array();

            // Get all drugs
            $.getJSON('/api/DrugEntry', function (drugJsonPayload) {
                $(drugJsonPayload).each(function (i, item) {

                    recentTemp.push(item);

                    if (item.CurrentStatus === "severe") {
                        severeItems.push(item);
                    }
                    else if (item.CurrentStatus === "warning") {
                        warningItems.push(item);
                    }
                    else {
                        goodItems.push(item);
                    }

                });

                recentTemp.sort(function (a, b) { if (a.LastUpdated < b.LastUpdated) return 1; return -1; });

                for (var i = 0; i < recentTemp.length && i < numRecentItems; i++) {
                    recentItems.push(recentTemp[i]);
                }

                display();

                // Page has loaded. Stop the loading animation
                $('#loadingAnimation').hide();
                $('#listContainer').show();
            });

        });
    });

    function getNonWatchListShortageCardButtonHtml(ndc, currentStatus) {
        if (loggedInAs == "Guest") {
            return '';
        }

        return '<li class="right"> \
                    <a href="#" onClick="addToWatchList(' + '\'' + loggedInAs + '\',\'' + ndc + '\', \'' + currentStatus + '\')"> \
                        <img src="/images/not_favorite.png"> \
                    </a> \
               </li>';
    }

    function getWatchListShortageCardButtonHtml(ndc, currentStatus) {
        if (loggedInAs == "Guest") {
            return '';
        }

        return '<li class="right"> \
                    <a href="#" onClick="removeFromWatchList(' + '\'' + loggedInAs + '\',\'' + ndc + '\', \'' + currentStatus + '\')"> \
                        <img src="/images/favorite.png"> \
                    </a> \
                </li>';
    }

    function getShortageItemHTML(brand, dosage, ndc, currentStatus) {
        return '<li id="' + ndc + '"> \
                       <ul class="shortageCard"> \
                           <li class="left"> \
                               <span><a href=/DrugEntriesList/Details/' + ndc + ">" + brand + ' ' + dosage + '</a></span> \
                           </li>' +
                           getNonWatchListShortageCardButtonHtml(ndc, currentStatus) +
                       '</ul> \
                    </li>';
    };

    function getShortageItemHTMLWatchList(brand, dosage, ndc, currentStatus) {
        return '<li id="' + ndc + '"> \
                    <ul class="shortageCard"> \
                        <li class="left"> \
                            <span><a href=/DrugEntriesList/Details/' + ndc + ">" + brand + ' ' + dosage + '</a></span> \
                        </li>' +
                        getWatchListShortageCardButtonHtml(ndc, currentStatus) +
                    '</ul> \
                </li>';
    };

    function addToWatchList(username, ndc, currentStatus) {
        $.ajax({
            url: '/api/WatchListItem/' + username + "/" + ndc,
            type: 'POST',
            success: function () {
                if ($("#" + ndc).length > 0) {
                    $("#" + ndc).prependTo("#" + currentStatus + "WatchList");
                    $("#" + ndc + " .right").replaceWith(getWatchListShortageCardButtonHtml(ndc, currentStatus));
                }
                if ($("#recentList #" + ndc).length > 0) {
                    $("#recentList #" + ndc + " .right").replaceWith(getWatchListShortageCardButtonHtml(ndc, currentStatus));
                }
            }
        });
    };

    function removeFromWatchList(username, ndc, currentStatus) {
        $.ajax({
            url: '/api/WatchListItem/' + username + "/" + ndc,
            type: 'DELETE',
            success: function () {
                if ($("#" + ndc).length > 0) {
                    $("#" + ndc).prependTo("#" + currentStatus + "List");
                    $("#" + ndc + " .right").replaceWith(getNonWatchListShortageCardButtonHtml(ndc, currentStatus));
                }
                if ($("#recentList #" + ndc).length > 0) {
                    $("#recentList #" + ndc + " .right").replaceWith(getNonWatchListShortageCardButtonHtml(ndc, currentStatus));
                }
            },
        });
    }

        // Filtering. Iterates over each of the 6 drug card containers (if you want to call them that?)
        // hides all elements which don't match the searchbar text. Shows all that do.
    $("#searchbar").keyup(function () {
        var query = $("#searchbar").val();
        var drugListSelectors = ["#recentList", "#severeWatchList", "#warningWatchList", "#goodWatchList", "#severeList", "#warningList", "#goodList"];

        $(drugListSelectors).each( function(index, value) {
            $(value + " > li").each(function () {
                if ($(this).text().search(query) > -1) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        });
    });
</script>
}