@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <ul id="drug_entries"></ul>
</div>

@section scripts{
<script type="text/javascript">
    $(function ()
    {
        $.getJSON('/api/DrugEntry', function (drugEntriesJsonPayload)
        {
            $(drugEntriesJsonPayload).each(function (i, item)
            {
                $('#drug_entries').append('<li>' > + item.NDC + '</li>');
            });
        });
    });
</script>
}

<br />
<div align="center">_____________________________________________________________________________________</div>
<br /><br />
Upload a new .CSV file for the Drug Database:
@using (Html.BeginForm ("", "DrugEntriesList", FormMethod.Post, new {enctype="multipart/form-data"})){
    <input type="file" name="newCSV" /><br />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}
