@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="body">
    <ul id="drug_entries"></ul>
</div>

@section scripts{
<script type="text/javascript">
    $(function ()
    {
        $.getJSON('/api/DrugEntry', function (drugEntriesJsonPayload)
        {
            $(drugEntriesJsonPayload).each(function (i, item)
            {
                $('#drug_entries').append('<li>' > + item.NDC + '</li>');
            });
        });
    });
</script>
}

<br />
<div align="center">_____________________________________________________________________________________</div>
<br /><br />

<form name="form1" method="post" enctype="multipart/form-data" action="~/api/DrugEntry">
    <div>
        <label for="input">Upload a new .CSV file:</label>
        <input name="input" type="file" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>