body
{
    background-color:#E9E9E9;
}

/*Items that fit with spectrum's style guide*/
.pageTitle
{
    font-family:Arial;
    font-size:48px;
    color:#004283;
    text-align:center;
}

.secondaryTitle
{
    font-size:30px;
    font-family:Arial;
    color:#6A6f71;
    padding-bottom:10px;
}

#secondaryTitle
{
    text-align:center;
    font-size:30px;
    font-family:Arial;
    color:#6A6f71;
    padding-bottom:10px;
}

/*Menu Bar*/
#menu 
{
    display:table;
    list-style-type:none;
    width:100%;
    margin:0 auto;
    height:60px;
    text-align:center;
    border-radius:4px;
    background: -webkit-linear-gradient(#303844, #262c36); /* For Safari */
    background: -o-linear-gradient(#303844, #262c36); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#303844, #262c36); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4D545C, #303338); /* Standard syntax */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D545C', endColorstr='#303338',GradientType=0 ); /* IE6-9 */
}

#menu ul 
{
    display:table-cell;
    vertical-align:middle;
    padding:0;
    margin:0;
}

#menu li 
{
    text-align:center;
    list-style-type:none;
    padding:0;
    margin:5px;
    font-family:Arial
}

#menu li.right 
{
    float:right;
}

#menu li.rightMost 
{
    float:right;
    padding-right:20px;
}

#menu li.left 
{
    float:left;
}

#menu li.leftMost 
{
    float:left;
    padding-left:20px;
}

#menu .button 
{
    display:table-cell;
    color:white;
    text-align:center;
    vertical-align:middle;
    height:30px;
    background: -webkit-linear-gradient(#7A818B, #4B4E55); /* For Safari */
    background: -o-linear-gradient(#7A818B, #4B4E55); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7A818B, #4B4E55); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7A818B, #4B4E55);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7A818B', endColorstr='#4B4E55',GradientType=0 ); /* IE6-9 */
    border-radius:4px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

#menu .button:link 
{
    text-decoration: none;
}

#menu .menuText 
{
    display:table-cell;
    color:white;
    text-align:center;
    vertical-align:middle; 
    height:30px;
}


/* Admin Menu */
#adminMenu 
{
    text-align:center;
    list-style-type:none;
    padding:0; margin:0;
}

#adminMenu > li
{
    display:inline-block;
    border-left:1px solid gray;
    padding-left:5px;
}

#adminMenu > li:first-child
{
    border-left:none;
}

#adminMenu > li > a
{
    font-size:20px;
    text-decoration: none;
}

#adminMenu .selected 
{
    color:#005BA5;
}

/*Page Header*/
#pageTitleBar
{
    display:table;
    list-style-type:none;
    padding:0;
}

#pageTitleBar li
{
    display: table-cell;
    list-style-type:none;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width:10%;
}

#pageTitleBar .pageTitle
{
    width: 80%;
}

/*Shortages List*/
#listContainer 
{
    display:table;
    width:100%;
    text-align:center;
    vertical-align:middle;
}

div.container 
{
    width:20%;
    height:100px;    
    display: table-cell;
    text-align:center;
}

.shortageList 
{
    list-style-type:none;
    padding:0; margin:0;
}

.shortageCard li 
{
    text-align:center;
    list-style-type:none;
    padding:0;
    font-family:Arial;
}

.shortageCard li.right
{
   float:right;
   padding-right:2px;
}

.shortageCard li.left
{
    float:left;
    padding-left:5px;
}

.shortageCard a 
{
    color: #000000;
    text-decoration:none;
    display:table-cell;
    vertical-align: middle;
    height:37px;
}

    .shortageCard a img {
        border: 0;
    }

.shortageCard span 
{
    display:table-cell;
    vertical-align: middle;   
    height:37px;
}

.shortageCard 
{
    vertical-align: middle;
    background:white;
    display:table-cell;
    border-style:solid;
    border-width:0;
    border-top-width:2px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    width:100%;
    padding:0;
    margin:0;
}

#severeList .shortageCard 
{
    border-top-color:#FF334A;
}


#severeWatchList .shortageCard 
{
    border-top-color:#FF334A;
}

#warningList .shortageCard 
{
    border-top-color:#FFA84A;
}

#warningWatchList .shortageCard 
{
    border-top-color:#FFA84A;
}


#goodList .shortageCard 
{
    border-top-color:#8DB987;
}

#goodWatchList .shortageCard 
{
    border-top-color:#8DB987;
}

.shortageList > li
{
    display:table;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    width:95%;
}

#loadingAnimation img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Drug Detail View */
 #basicDrugInformation {
    text-align: center;
}

#basicDrugInformation > ul {
    list-style-type: none;
}

#shortageHistory {
    text-align: center;
    list-style-type: none;
}

    #shortageHistory > ul {
        margin-top: 0px;
        list-style-type: none;
    }

        #shortageHistory > ul > li:first-letter {
            text-transform: uppercase;
        }

#shortageHistoryChart {
    margin-left: auto;
    margin-right: auto;
}

/* jqplot stuff (for graphing) */
.jqplot-point-label
    {
        white-space: nowrap;
    }
    div.jqplot-target
    {
        height: 400px;
        width: 750px;
        margin: 70px;
    }
    .tooltipCss
    {
        position: absolute;
        background-color: #b2b1ac;
        color: White;
        z-index: 200;
        padding: 5px;
        border-radius: 5px;
        display: none;
    }

/* Pending shortages */
.preview {
    
    border:1px solid;
    border-radius:25px;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

    /* These buttons follow the primary button style in the style guide. If you need to make similar ones, go with this.*/
    .preview button {
        color:white;
        text-align:center;
        vertical-align:middle;
        height: 40px;
        max-width: 200px;
        background: -webkit-linear-gradient(#5e91cc, #4167b2); /* For Safari */
        background: -o-linear-gradient(#5e91cc, #4167b2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#5e91cc, #4167b2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#5e91cc, #4167b2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e91cc', endColorstr='#4167b2',GradientType=0 ); /* IE6-9 */
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        border:1px solid;
        border-radius:5px;
        border-color: #3c6697;
    }

        .preview button:hover {
            background: -webkit-linear-gradient(#82ace6, #5884d2); /* For Safari */
            background: -o-linear-gradient(#82ace6, #5884d2); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#82ace6, #5884d2); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#82ace6, #5884d2);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ace6', endColorstr='#5884d2',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #6398cf;
        }

        .preview button:active {
            background: -webkit-linear-gradient(#396da9, #193f7d); /* For Safari */
            background: -o-linear-gradient(#396da9, #193f7d); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#396da9, #193f7d); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#396da9, #193f7d);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396da9', endColorstr='#193f7d',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #366298;
        }

#pending_shortages {
    display: inline-block;
    max-width:65%;
}

#create_shortage {
    float: right;
    border:1px solid;
    border-radius:25px;
    display: inline-block;
    padding-left: 5px;
    width: 30%;
}

#create_shortage_popup_title {
    text-align:center;
    display:block;
    font-weight: bold;
}
    #create_shortage button {
        color:white;
        text-align:center;
        vertical-align:middle;
        height: 40px;
        max-width: 200px;
        background: -webkit-linear-gradient(#5e91cc, #4167b2); /* For Safari */
        background: -o-linear-gradient(#5e91cc, #4167b2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#5e91cc, #4167b2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#5e91cc, #4167b2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e91cc', endColorstr='#4167b2',GradientType=0 ); /* IE6-9 */
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        border:1px solid;
        border-radius:5px;
        border-color: #3c6697;
    }

        #create_shortage button:hover {
            background: -webkit-linear-gradient(#82ace6, #5884d2); /* For Safari */
            background: -o-linear-gradient(#82ace6, #5884d2); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#82ace6, #5884d2); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#82ace6, #5884d2);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ace6', endColorstr='#5884d2',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #6398cf;
        }

        #create_shortage button:active {
            background: -webkit-linear-gradient(#396da9, #193f7d); /* For Safari */
            background: -o-linear-gradient(#396da9, #193f7d); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#396da9, #193f7d); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#396da9, #193f7d);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396da9', endColorstr='#193f7d',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #366298;
        }

#create_shortage_severe_label {
    color: #FF334A;
}

#create_shortage_warning_label {
    color: #FFA84A;
}

#create_shortage_good_label {
    color: #8DB987;
}