body
{
    background-color:#E9E9E9;
    font-family: Arial;
}

/*Items that fit with spectrum's style guide*/
.submitButton {
    color:white;
    text-align:center;
    vertical-align:middle;
    height: 40px;
    max-width: 200px;
    background: -webkit-linear-gradient(#5e91cc, #4167b2); /* For Safari */
    background: -o-linear-gradient(#5e91cc, #4167b2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5e91cc, #4167b2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5e91cc, #4167b2);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e91cc', endColorstr='#4167b2',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border:1px solid;
    border-radius:5px;
    border-color: #3c6697;
    margin-left: 8px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#submitButtonContainer {
    display: none;
}

.pageTitle
{
    font-family:Arial;
    font-size:48px;
    color:#004283;
    text-align:center;
}

.secondaryTitle
{
    font-size:30px;
    font-family:Arial;
    color:#6A6f71;
    padding-bottom:10px;
}

#secondaryTitle
{
    text-align:center;
    font-size:30px;
    font-family:Arial;
    color:#6A6f71;
    padding-bottom:10px;
}

/*Menu Bar*/
#menu 
{
    display:table;
    list-style-type:none;
    width:100%;
    margin:0 auto;
    height:60px;
    text-align:center;
    border-radius:4px;
    background: -webkit-linear-gradient(#303844, #262c36); /* For Safari */
    background: -o-linear-gradient(#303844, #262c36); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#303844, #262c36); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4D545C, #303338); /* Standard syntax */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D545C', endColorstr='#303338',GradientType=0 ); /* IE6-9 */
}

#menu ul 
{
    display:table-cell;
    vertical-align:middle;
    padding:0;
    margin:0;
}

#menu li 
{
    text-align:center;
    list-style-type:none;
    padding:0;
    margin:5px;
    font-family:Arial
}

#menu li.right 
{
    float:right;
}

#menu li.rightMost 
{
    float:right;
    padding-right:20px;
}

#menu li.left 
{
    float:left;
}

#menu li.leftMost 
{
    float:left;
    padding-left:20px;
}

#menu .button 
{
    display:table-cell;
    color:white;
    text-align:center;
    vertical-align:middle;
    height:30px;
    background: -webkit-linear-gradient(#7A818B, #4B4E55); /* For Safari */
    background: -o-linear-gradient(#7A818B, #4B4E55); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7A818B, #4B4E55); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7A818B, #4B4E55);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7A818B', endColorstr='#4B4E55',GradientType=0 ); /* IE6-9 */
    border-radius:4px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

#menu .button:link 
{
    text-decoration: none;
}

#menu .menuText 
{
    display:table-cell;
    color:white;
    text-align:center;
    vertical-align:middle; 
    height:30px;
}

/* Admin Menu */
#adminMenu 
{
    text-align:center;
    list-style-type:none;
    padding:0; margin:0;
}

#adminMenu > li
{
    display:inline-block;
    border-left:1px solid gray;
    padding-left:5px;
}

#adminMenu > li:first-child
{
    border-left:none;
}

#adminMenu > li > a
{
    font-size:20px;
    text-decoration: none;
}

#adminMenu .selected 
{
    color:#005BA5;
}

/*Page Header*/
#pageTitleBar
{
    display:table;
    list-style-type:none;
    padding:0;
    width:100%;
}

#pageTitleBar li
{
    display: table-cell;
    list-style-type:none;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width:20%;
}

#pageTitleBar .search input
{
    float:right;
}

#pageTitleBar .pageTitle
{
    list-style-type:none;
    width: 60%;
}

/*Shortages List*/
#listContainer 
{
    display:table;
    width:100%;
    text-align:center;
    vertical-align:middle;
}

div.container 
{
    width:20%;
    height:100px;    
    display: table-cell;
    text-align:center;
}

.shortageList 
{
    list-style-type:none;
    padding:0; margin:0;
}

.shortageCard li 
{
    list-style-type:none;
    padding:0;
    font-family:Arial;
    display:inline-block;
}

.shortageCard li.right
{
   float:right;
   padding-right:2px;
   width:10%;
}

.shortageCard li.left
{
    text-align:left;
    text-indent:-20px;
    float:left;
    padding-left:25px;
    width:80%;
}

.shortageCard li.left
{
    text-transform: capitalize;
}

.shortageCard a 
{
    color: #000000;
    text-decoration:none;
    display:table-cell;
    vertical-align: middle;
    height:37px;
}

.shortageCard div img {
    border: 0;
    cursor:pointer;
}

.shortageCard span 
{
    display:table-cell;
    vertical-align: middle;   
    height:37px;
}

.shortageCard 
{
    vertical-align: middle;
    background:white;
    display:table-cell;
    border-style:solid;
    border-width:0;
    border-top-width:2px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    width:100%;
    padding:0;
    margin:0;
}

.unreadBadge {
    padding-right: 5px;
}

.goodItem .shortageCard
{
    border-top-color:#8DB987;
}

.warningItem .shortageCard 
{
    border-top-color:#FFA84A;
}

.severeItem .shortageCard 
{
    border-top-color:#FF334A;
}

.shortageList > li
{
    display:table;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    width:95%;
}

.pagingButton {
    color:#005BA5;
    padding-left:4px;
    padding-right:4px;
    text-decoration:none;
    cursor:pointer;
    display:inline-block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagingButton:hover {
    text-decoration:none; 
    font-weight:bold;
}

.pagingButton:active {
    text-decoration:none; 
    font-weight:bold;
}

.pagingButton.disabled {
    color:#cccccc;
    font-weight:normal;
    pointer-events: none;
    cursor: default;
}

.pageNumber {
    padding-left:4px;
    padding-right:4px;
}

#loadingAnimation img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

/* Drug Detail View */
 #basicDrugInformation {
    text-align: center;
    list-style: none;
    padding: 0px;
}
    #basicDrugInformation > ul {
        list-style: none;
        padding: 0px;
    }
.shortageLinks a {
    padding-left: 5px;
    color: #0ca9fa;
}

.adminLinks {
    display: none;
}

#shortageHistory {
    text-align: center;
    list-style-type: none;
}

    #shortageHistory > ul {
        margin-top: 0px;
        list-style-type: none;
    }

#shortageHistoryChart {
    margin-left: auto;
    margin-right: auto;
}

/* Message List stuff */
#messageListing {
    width: 70%;
    font-family: Arial;
    list-style-type: none;
    padding-left: 15%;
    padding-right: 15%;
}

    #messageListing > ul {
        list-style-type: none;
    }
        #messageListing > ul > li > .messageEntry > .messageTitle {
            width: 100%;
            display: inline-block;
            background: -webkit-linear-gradient(#303844, #262c36); /* For Safari */
            background: -o-linear-gradient(#303844, #262c36); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#303844, #262c36); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#4D545C, #303338); /* Standard syntax */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D545C', endColorstr='#303338',GradientType=0 ); /* IE6-9 */
            color: #FFFFFF;
            padding: 5px 10px;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            margin-bottom: -4px;
        }
    
            #messageListing > ul > li > .messageEntry > .messageTitle > .messageInfo {
                width:100%;
            }
        
            #messageListing > ul > li > .messageEntry > .messageTitle > .messageBadge {
                float: right;
            }
    
        #messageListing > ul > li > .messageEntry > .messageText {
            width: 100%;
            display: inline-block;
            padding: 5px 10px;
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-bottom: 5px;
        }
.messageDate {
    float: right;
}

#postDiscussionForm {
    padding-top: 20px;
}

/* jqplot stuff (for graphing) */
.jqplot-point-label
    {
        white-space: nowrap;
    }
    div.jqplot-target
    {
        height: 400px;
        width: 750px;
        margin: 70px;
    }
    .tooltipCss
    {
        position: absolute;
        background-color: #b2b1ac;
        color: White;
        z-index: 200;
        padding: 5px;
        border-radius: 5px;
        display: none;
    }

/* Pending shortages */
#pending_shortages {
    padding: 0px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

.pending_shortage {
    padding-left: 5px;
    background: #ffffff;
    border-bottom: 1px solid;
    border-bottom-color: #cccccc;
    list-style: none;
    font-family: Arial;
}

#pending_shortages_container a {
    color: #0CA9FA;
}

.preview {
    width: 100%; 
    padding-left: 5px;
    padding-right: 5px;
}

    /* These buttons follow the primary button style in the style guide. If you need to make similar ones, go with this.*/
    .preview button {
        color:white;
        text-align:center;
        vertical-align:middle;
        height: 40px;
        max-width: 200px;
        background: -webkit-linear-gradient(#5e91cc, #4167b2); /* For Safari */
        background: -o-linear-gradient(#5e91cc, #4167b2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#5e91cc, #4167b2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#5e91cc, #4167b2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e91cc', endColorstr='#4167b2',GradientType=0 ); /* IE6-9 */
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        border:1px solid;
        border-radius:5px;
        border-color: #3c6697;
        margin-left: 8px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

        .preview button:hover {
            background: -webkit-linear-gradient(#82ace6, #5884d2); /* For Safari */
            background: -o-linear-gradient(#82ace6, #5884d2); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#82ace6, #5884d2); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#82ace6, #5884d2);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ace6', endColorstr='#5884d2',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #6398cf;
        }

        .preview button:active {
            background: -webkit-linear-gradient(#396da9, #193f7d); /* For Safari */
            background: -o-linear-gradient(#396da9, #193f7d); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#396da9, #193f7d); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#396da9, #193f7d);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396da9', endColorstr='#193f7d',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #366298;
        }

#pending_shortages_headers {
    text-align:center;
    width: 100%;
}

    #pending_shortages_headers a {
        text-decoration: none;
        color:#6A6f71;
    }

#pending_shortages_container {
    width: 100%;
    min-width: 400px;
}

#ignored_pending_shortages_container {
    width: 100%;
    display: none;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    margin-top: 16px;
}
    #ignored_pending_shortages_container a {
        text-decoration: none;
    }

#ignored_pending_shortages {
    list-style: none;
    padding-left: 0px;
    min-width: 400px;
}

.ignored_pending_shortage {
    display:inline-block; 
    height: 100%;
    vertical-align:middle;
    padding-left: 5px;
}

.pending_shortage_title {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.pending_shortage_expand_icon {
    float: right;
    padding-right: 5px;
    padding-left:5px;
}

#create_shortage {
    display: none
}

    #create_shortage button {
        color:white;
        text-align:center;
        vertical-align:middle;
        height: 40px;
        max-width: 200px;
        background: -webkit-linear-gradient(#5e91cc, #4167b2); /* For Safari */
        background: -o-linear-gradient(#5e91cc, #4167b2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#5e91cc, #4167b2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#5e91cc, #4167b2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e91cc', endColorstr='#4167b2',GradientType=0 ); /* IE6-9 */
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        border:1px solid;
        border-radius:5px;
        border-color: #3c6697;
    }

        #create_shortage button:hover {
            background: -webkit-linear-gradient(#82ace6, #5884d2); /* For Safari */
            background: -o-linear-gradient(#82ace6, #5884d2); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#82ace6, #5884d2); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#82ace6, #5884d2);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ace6', endColorstr='#5884d2',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #6398cf;
        }

        #create_shortage button:active {
            background: -webkit-linear-gradient(#396da9, #193f7d); /* For Safari */
            background: -o-linear-gradient(#396da9, #193f7d); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#396da9, #193f7d); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#396da9, #193f7d);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396da9', endColorstr='#193f7d',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #366298;
        }

#attach_memo {
    display: none
}

    #attach_memo button {
        color:white;
        text-align:center;
        vertical-align:middle;
        height: 40px;
        max-width: 200px;
        background: -webkit-linear-gradient(#5e91cc, #4167b2); /* For Safari */
        background: -o-linear-gradient(#5e91cc, #4167b2); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#5e91cc, #4167b2); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#5e91cc, #4167b2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e91cc', endColorstr='#4167b2',GradientType=0 ); /* IE6-9 */
        border-radius: 4px;
        padding-left: 5px;
        padding-right: 5px;
        cursor: pointer;
        border:1px solid;
        border-radius:5px;
        border-color: #3c6697;
    }

        #attach_memo button:hover {
            background: -webkit-linear-gradient(#82ace6, #5884d2); /* For Safari */
            background: -o-linear-gradient(#82ace6, #5884d2); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#82ace6, #5884d2); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#82ace6, #5884d2);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ace6', endColorstr='#5884d2',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #6398cf;
        }

        #attach_memo button:active {
            background: -webkit-linear-gradient(#396da9, #193f7d); /* For Safari */
            background: -o-linear-gradient(#396da9, #193f7d); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#396da9, #193f7d); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#396da9, #193f7d);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#396da9', endColorstr='#193f7d',GradientType=0 ); /* IE6-9 */
            border:1px solid;
            border-radius:5px;
            border-color: #366298;
        }

#additionalInfo {
    display: none;
}

.create_shortage_severe_label {
    color: #FF334A;
}

.create_shortage_warning_label {
    color: #FFA84A;
}

.create_shortage_good_label {
    color: #8DB987;
}

.formErrorNotification {
    color: #FF334A;
    display: none;
}

.formSuccessNotification {
    color: #8DB987;
    display: none;
}

.ui-dialog > .ui-widget-header {
    color:white;
    background: -webkit-linear-gradient(#303844, #262c36); /* For Safari */
    background: -o-linear-gradient(#303844, #262c36); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#303844, #262c36); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4D545C, #303338); /* Standard syntax */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D545C', endColorstr='#303338',GradientType=0 ); /* IE6-9 */
    
}

.ui-icon-closethick {
    background-image: url(/Images/close_dialog.png) !important;
    background-position: center !important;
    margin: 0 !important;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }
