body
{
    background-color:#E9E9E9;
}

/*Items that fit with spectrum's style guide*/
.pageTitle
{
    font-family:Arial;
    font-size:48px;
    color:#004283;
    text-align:center;
}

.secondaryTitle
{
    font-size:30px;
    font-family:Arial;
    color:#6A6f71;
    padding-bottom:10px;
}

#secondaryTitle
{
    text-align:center;
    font-size:30px;
    font-family:Arial;
    color:#6A6f71;
    padding-bottom:10px;
}

/*Menu Bar*/
#menu 
{
    display:table;
    list-style-type:none;
    width:100%;
    margin:0 auto;
    height:60px;
    text-align:center;
    border-radius:4px;
    background: -webkit-linear-gradient(#303844, #262c36); /* For Safari */
    background: -o-linear-gradient(#303844, #262c36); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#303844, #262c36); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4D545C, #303338); /* Standard syntax */
}

#menu ul 
{
    display:table-cell;
    vertical-align:middle;
    padding:0;
    margin:0;
}

#menu li 
{
    text-align:center;
    list-style-type:none;
    padding:0;
    margin:5px;
    font-family:Arial
}

#menu li.right 
{
    float:right;
}

#menu li.rightMost 
{
    float:right;
    padding-right:20px;
}

#menu li.left 
{
    float:left;
}

#menu li.leftMost 
{
    float:left;
    padding-left:20px;
}

#menu .button 
{
    display:table-cell;
    color:white;
    text-align:center;
    vertical-align:middle;
    height:30px;
    background: -webkit-linear-gradient(#7A818B, #4B4E55); /* For Safari */
    background: -o-linear-gradient(#7A818B, #4B4E55); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7A818B, #4B4E55); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7A818B, #4B4E55);
    border-radius:4px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

#menu .button:link 
{
    text-decoration: none;
}

#menu .menuText 
{
    display:table-cell;
    color:white;
    text-align:center;
    vertical-align:middle; 
    height:30px;
}

/*Page Header*/
#pageTitleBar
{
    display:table;
    list-style-type:none;
    padding:0;
}

#pageTitleBar li
{
    display: table-cell;
    list-style-type:none;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width:10%;
}

#pageTitleBar .pageTitle
{
    width: 80%;
}

/*Shortages List*/
#listContainer 
{
    display:table;
    width:100%;
    text-align:center;
    vertical-align:middle;
}

div.container 
{
    width:20%;
    height:100px;    
    display: table-cell;
    text-align:center;
}

.shortageList 
{
    list-style-type:none;
    padding:0; margin:0;
}

.shortageCard li 
{
    text-align:center;
    list-style-type:none;
    padding:0;
    font-family:Arial
}

.shortageCard li.right
{
   float:right;
   padding-right:2px;
}

.shortageCard li.left
{
    float:left;
    padding-left:5px;
}

.shortageCard a 
{
    display:table-cell;
    vertical-align: middle;
    height:37px;
}

.shortageCard span 
{
    display:table-cell;
    vertical-align: middle;   
    height:37px;
}

.shortageCard 
{
    vertical-align: middle;
    background:white;
    display:table-cell;
    border-style:solid;
    border-width:0;
    border-top-width:2px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    width:100%;
    padding:0;
    margin:0;
}

#severeList .shortageCard 
{
    border-top-color:red;
}


#severeWatchList .shortageCard 
{
    border-top-color:red;
}

#warningList .shortageCard 
{
    border-top-color:gold;
}

#warningWatchList .shortageCard 
{
    border-top-color:gold;
}


#goodList .shortageCard 
{
    border-top-color:green;
}

#goodWatchList .shortageCard 
{
    border-top-color:green;
}

.shortageList > li
{
    display:table;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    width:95%;
}

/* Drug Detail View */
 #basicDrugInformation {
    text-align: center;
}

#basicDrugInformation > ul {
    list-style-type: none;
}

#shortageHistory {
    text-align: center;
    list-style-type: none;
}

#shortageHistory > ul {
    margin-top: 0px;
    list-style-type: none;
}